.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form-input-flex-group {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
}

.settings-form-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    border-bottom: 1px solid var(--gray--2);
    padding-bottom: 1.5rem;
}
