@import 'src/index.scss';

.decisionbox-content-container {
    @media (max-width: 360px) {
        width: 95% !important;
    }
}

.decision-btns {
    @media (max-width: 360px) {
        flex-wrap: wrap !important;

        button {
            width: 100% !important;
        }
    }
}