$breakpoints: (
        mobile-lower: 320px,
        mobile-upper: 480px,
        tablet-lower: 768px,
        tablet-upper: 1024px,
        desktop-lower: 1200px,
        desktop-upper: 1440px,
        large-desktop: 1600px,
);
